.receipt-preview-zoom-5 { transform: scale(0.5); transform-origin: top center; }
.receipt-preview-zoom-6 { transform: scale(0.6); transform-origin: top center; }
.receipt-preview-zoom-7 { transform: scale(0.7); transform-origin: top center; }
.receipt-preview-zoom-8 { transform: scale(0.8); transform-origin: top center; }
.receipt-preview-zoom-9 { transform: scale(0.9); transform-origin: top center; }
.receipt-preview-zoom-10 { transform: scale(1); transform-origin: top center; }
.receipt-preview-zoom-11 { transform: scale(1.1); transform-origin: top center; }
.receipt-preview-zoom-12 { transform: scale(1.2); transform-origin: top center; }
.receipt-preview-zoom-13 { transform: scale(1.3); transform-origin: top center; }
.receipt-preview-zoom-14 { transform: scale(1.4); transform-origin: top center; }
.receipt-preview-zoom-15 { transform: scale(1.5); transform-origin: top center; }
.receipt-preview-zoom-16 { transform: scale(1.6); transform-origin: top center; }
.receipt-preview-zoom-17 { transform: scale(1.7); transform-origin: top center; }
.receipt-preview-zoom-18 { transform: scale(1.8); transform-origin: top center; }
.receipt-preview-zoom-19 { transform: scale(1.9); transform-origin: top center; }
.receipt-preview-zoom-20 { transform: scale(2); transform-origin: top center; }
.receipt-preview-zoom-21 { transform: scale(2.1); transform-origin: top center; }
.receipt-preview-zoom-22 { transform: scale(2.2); transform-origin: top center; }
.receipt-preview-zoom-23 { transform: scale(2.3); transform-origin: top center; }
.receipt-preview-zoom-24 { transform: scale(2.4); transform-origin: top center; }
.receipt-preview-zoom-25 { transform: scale(2.5); transform-origin: top center; }
.receipt-preview-zoom-26 { transform: scale(2.6); transform-origin: top center; }
.receipt-preview-zoom-27 { transform: scale(2.7); transform-origin: top center; }
.receipt-preview-zoom-28 { transform: scale(2.8); transform-origin: top center; }
.receipt-preview-zoom-29 { transform: scale(2.9); transform-origin: top center; }
.receipt-preview-zoom-30 { transform: scale(3); transform-origin: top center; }
